<!DOCTYPE html>
<html lang="en">

<head>
    <title>LexCube - Leipzig Explorer of Earth Data Cubes</title>
    <meta name="title" content="LexCube - Leipzig Explorer of Earth Data Cubes">
    <meta name="description" content="LexCube is an interactive visualization for large-scale earth data sets. Created at Leipzig University by Maximilian Söchting.">
    <meta name="keywords" content="data cube, earth system data cube, leipzig, esdl, earth system data lab, interactive, visualization, geoscience, remote sensing, geophysics, esa, european space agency">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Maximilian Söchting">
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="nouislider.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <style>
        .expert-mode { 
            display: none;
        }

        *::-webkit-scrollbar {
            height: 0rem;
            width: 0rem;
        }

        *::-webkit-scrollbar-track {
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
        }

        *::-webkit-scrollbar-thumb {
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
        }
    </style>
</head>

<body class="lexcube-body">

    <div class="fullscreen-wrapper nopointer noselect axis-label-ui" style="text-align: center; color:white">
        <div style="position: absolute" class="axis-label-parent axis-label-parent-x-min"><div class="axis-label axis-label-x-min"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-x-max"><div class="axis-label axis-label-x-max"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-x-dimension-name"><div class="axis-label axis-label-x-dimension-name"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-y-min"><div class="axis-label axis-label-y-min"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-y-max"><div class="axis-label axis-label-y-max"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-y-dimension-name"><div class="axis-label axis-label-y-dimension-name"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-z-min"><div class="axis-label axis-label-z-min"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-z-max"><div class="axis-label axis-label-z-max"></div></div>
        <div style="position: absolute" class="axis-label-parent axis-label-parent-z-dimension-name"><div class="axis-label axis-label-z-dimension-name"></div></div>
    </div>

    <div class="fullscreen-wrapper noselect nopointer dataset-info-corner-parent">
        <div class="dataset-info-corner">
            <div class="dataset-info-corner-list" style="display: flex;flex-direction: column;align-items: flex-end;">
            </div>
        </div>
    </div>


    <div class="toolbar-ui">
        <div class="toolbar-ui-button fullscreen-button" title="Enter/exit fullscreen" style="background-image: url('fullscreen.svg')"></div>
        <div class="toolbar-ui-button data-select-button" title="Options" onclick="let c = this.parentNode.parentNode.getElementsByClassName('options-ui')[0]; c.style.display = c.style.display == 'none' ? 'block' : 'none';" style="background-image: url('data-management.svg')"></div>
        <div class="animation-dropdown noselect">
            <div class="toolbar-ui-button animate-start-button" title="Start Animation" style="background-image: url('play.svg')"></div>
            <div class="toolbar-ui-button animate-stop-button" title="Stop Animation" style="background-image: url('pause.svg');display:none;"></div>

            <div class="animation-dropdown-content">
                <div class="ui-normal noselect animation-settings-ui">
                    <h3>Animation Settings</h3>
                    <div>Animated Dimension:</div>
                    <select class="animation-dimension-select noselect" style="width: fit-content;
                            margin-top: 3px;
                            margin-bottom: 3px;
                            font-size: 1em;
                            color: black;">
                        <option value="x">X</option>
                        <option value="y">Y</option>
                        <option value="z" selected >Z</option>
                    </select>
                    <hr style="width: 100%;">

                    <div>Increment per Step:</div>
                    <div class="slider animation-increment-slider"></div>
                    <div>Visible Window:</div>
                    <div class="slider animation-window-slider"></div>
                    <div>Animation Speed:</div>
                    <div class="slider animation-speed-slider"></div>
                    <div>Total Time: <span class="animation-total-duration" style="font-weight: bold;">10.5</span> s</div>
                    <hr style="width: 100%;">
                    <label class="animation-selected-range-only-checkbox-label"><input type="checkbox" class="animation-selected-range-only-checkbox" name="animation-selected-range-only"/><div class="animation-selected-range-only-checkbox-label-div" style="display: contents;"> Only animate last selection (X to Y)</div></label>
                    <hr style="width: 100%;">
                    <div>
                        <label class="animation-recording-checkbox-label"><input type="checkbox" class="animation-recording-checkbox" name="animation-recording"/> Record Animation</label>
                        <div class="animation-recording-in-progress-panel" style="display: none;">
                            <div class="animation-recording-status" style="color: rgb(255, 43, 48); font-weight: bold;width: 100%;text-align: center;">Recording Animation...</div>
                            <button class="animation-recording-stop-button" style="width: 100%;">
                                Stop Recording
                            </button>
                        </div>
                    </div>
                    <div class="animation-recording-options" style="display: none;">
                        <button class="animation-recording-restart-button">
                            Start Recording
                        </button>
                        <select class="animation-recording-format">
                            <option value="MP4">MP4 (default)</option>
                            <option value="WebM">WebM (smaller files)</option>
                            <option value="GIF">GIF (large files, slow)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar-ui-button download-image-button" title="Download Image" style="background-image: url('download.svg'); display: none;"></div>
        <div class="toolbar-ui-button download-template-button" title="Download Print Template" style="background-image: url('download-print-template.svg');"></div>
        <div class="toolbar-ui-button gps-button" title="Show Current Location on Cube" style="background-image: url('location.svg');"></div>
    </div>

    <div class="fullscreen-wrapper nopointer noselect corner-logo-ui">
        <img src="lexcube-logo.png" class="corner-logo" style="position:absolute; top: 1.5%; left: 1.5%; opacity: 0.9; max-width: 40%; margin-left: -2px;
        margin-top: -2px;max-height: 50px;"/>
    </div>

    <div class="flex-col-center-end noselect bottom-left-ui">
        <div class="ui-normal nopointer hover-info-ui"></div>

        <div class="colormap-options flex-col-center-end noselect ui-normal" style="overflow-x: clip; max-width: 220px; display: none;">
            <div class="colormap-section" style="overflow-y: auto;">
                <div class="btn-group colormap-list" style="overflow-y: auto;">
    
                </div>
            </div>
            <div class="colormap-settings" style="width: 100%; display: flex; flex-direction: column; gap: 2px;">
                <hr style="width: 100%;">
                Colormap Range:<br>
                <form class="colormap-range-form">
                    <input type="text" class="colormap-min-input" placeholder="1.0" style="width:5.5em"/> -
                    <input type="text" class="colormap-max-input" placeholder="1.0" style="width:5.5em"/>
                    <input type="submit" value="Apply" style="width: 3em; display: none;"/>
                </form>
                <div>
                    <label><input type="checkbox" class="colormap-flipped-checkbox" name="colormap-flipped"> Flip Colormap</label>
                </div>
                <div class="expert-mode">
                    <label><input type="checkbox" class="colormap-percentile-checkbox" name="colormap-percentile" checked> For automatic boundaries: only consider ± 2.5 σ (98.7% of data points)</label>
                </div>
            </div>
        </div>
        <div class="flex-col-center-end color-scale">
            <div class="color-scale-gradient"></div>
            <div class="color-scale-labels">
                <div class="color-scale-label"></div>
                <div class="color-scale-label"></div>
                <div class="color-scale-label"></div>
            </div>
            <div class="color-scale-unit-label"></div>
        </div>
    </div>



    <div class="noselect top-left-ui ui-normal jupyter-notification" onclick="this.style.display = 'none';localStorage.setItem('dismiss-jupyter', `${Date.now()}`);" style="padding: 1px;">
        <a href='https://github.com/msoechting/lexcube' target='_blank'><div style="background-image: url('lexcube-jupyter.png'); width: 337px;;
        height: 140px;background-size: contain; cursor:pointer"></div></a>
        <div class="close-button" onclick="this.parentNode.onclick()"></div>
    </div>

    <div class="ui-normal noselect options-ui" style="display: none;">
        <button type="button" class="collapsible-button" onclick="this.parentNode.style.display = 'none';">Close</button>
        <hr>
        <div>
            Cube:<br>
            <select class="cube-select">
                <option value="0"></option>
            </select>
        </div>
        <div>
            Parameter:<br>
            <select class="parameter-select">
                <option value="0"></option>       
            </select>
        </div>
        <div class="expert-mode">
            Display Quality:<br>
            <select class="quality-select">
                <option value="0.2" label="Very Low (20%)"></option>
                <option value="0.5" label="Low (50%)"></option>
                <option value="1.0" label="Default (100%)" selected></option>
                <option value="1.5" label="High (150%)"></option>
                <option value="2.0" label="Very High (200%)"></option>
                <option value="1000.0" label="Data Resolution"></option>
            </select>
        </div>
        <hr>
        <h3 class="noselect" style="cursor: pointer;" onclick="f = this.nextSibling; let e = this; if (f.style.display == 'none') { f.style.display = 'block'; e.textContent = '▼ ' + e.textContent.substring(2) } else { f.style.display = 'none';  e.textContent = '► ' + e.textContent.substring(2) }">▼ Current Selection</h3><div class="selection-section">
            <div class="x-selection-slider-label">X:</div>
            <div>
                <div class="slider x-selection-slider"></div>
            </div>
            <div class="y-selection-slider-label">Y:</div>
            <div>
                <div class="slider y-selection-slider"></div>
            </div>
            <div class="z-selection-slider-label">Z:</div>
            <div>
                <div class="slider z-selection-slider"></div>
            </div>
        </div>
    </div>

    <div class="fullscreen-wrapper nopointer noselect">
        <div style="text-align: center; margin-top: 3%;">
            <div class="status-message">Starting LexCube...</div>
        </div>
    </div>
    <div class="fullscreen-wrapper flex-col-center dataset-info-wrapper">
        <div class="ui-normal flex-col-center dataset-info-window">
            <div class="dataset-info" style="max-width: 100%; overflow-y: auto; overflow-x: hidden;"></div>
            
            <div style="width: 100%; text-align: center;"> 
                <hr>
                <div class="expert-mode">
                    LexCube is an interactive visualization of large-scale earth data sets. Created at Leipzig University by Maximilian Söchting.
                </div>
                <div><b>When using Lexcube and generated images or videos, please acknowledge/cite</b>: M. Söchting, M. D. Mahecha, D. Montero and G. Scheuermann, "Lexcube: Interactive Visualization of Large Earth System Data Cubes," in IEEE Computer Graphics and Applications, vol. 44, no. 1, pp. 25-37, Jan.-Feb. 2024, doi: <a href="https://www.doi.org/10.1109/MCG.2023.3321989" target="_blank">10.1109/MCG.2023.3321989</a>.</div>

                <div class="expert-mode">
                    Client Version: <%= htmlWebpackPlugin.options.version %> (Commit: <%= htmlWebpackPlugin.options.commitDate %>, Build: <%= htmlWebpackPlugin.options.buildDate %>)
                </div>
            </div>
            <button style="margin-top: 10px" onclick="this.parentNode.parentNode.style.display = 'none'">Acknowledge</button>
        </div>
    </div>

    <div class="fullscreen-wrapper flex-col-center tutorial-wrapper" style="background-color: rgba(255, 255, 255, 0.7);" onclick="this.parentNode.removeChild(this)">
        <div class="ui-normal flex-col-center tutorial-window" style="box-shadow: 10px 10px 20px black;" onclick="event.stopPropagation()">
            <div style="width: 100%; text-align: center;">
                <h2>LexCube: How to Use</h2>
                <div class="tutorial-mouse" style="display: none;">
                    <div style="margin-bottom: 5px;">1. Drag and scroll on the <b>background</b> to move and rotate the cube.</div>
                    <div style="margin-bottom: 5px;">2. Drag and scroll on the <b>cube</b> to interact with the data.</div>
                    <video class="tutorial-video" onloadeddata="try { this.play(); } catch(e) {}" playsinline loop muted controls>
                        <source src="demo-mouse-an.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="tutorial-touch" style="display: none;">
                    <div style="margin-bottom: 5px;">1. Touch and drag on the <b>background</b> to move and rotate the cube.</div>
                    <div style="margin-bottom: 5px;">2. Touch and drag on the <b>cube</b> to interact with the data.</div>
                    <video class="tutorial-video" onloadeddata="try { this.play(); } catch(e) {}" playsinline loop muted controls>
                        <source src="demo-touch-an.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <button style="margin: 10px; font-size: larger;" onclick="const l = this.parentNode.parentNode;l.parentNode.removeChild(l);">Close Tutorial</button>
        </div>
    </div>

    <div class="fullscreen-wrapper flex-col-center print-template-result-wrapper" style="background-color: rgba(0, 0, 0, 1); display: none; z-index: 20;">
        <div class="ui-normal flex-col-center" style="box-shadow: 10px 10px 20px black;max-height:95%" onclick="event.stopPropagation()">
            <div class="print-template-loading-section flex-col-center noselect" style="padding: 20px;">
                <div class="logo">
                    <video class="print-template-loader-video" playsinline loop muted>
                        <source src="loader.mp4" type="video/mp4">
                    </video>
                    <!-- <svg
                       width="3.69cm"
                       height="3.95cm"
                       viewBox="-10 -10 125.827 133.386"
                       version="1.1"
                       class="svg417"
                       sodipodi:docname="lexcube-logo.svg"
                       inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
                       xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                       xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:svg="http://www.w3.org/2000/svg">
                      <defs
                         id="defs421" />
                      <path
                         d="m0 0 26.219-13.754L54.981-.614 28.352 11.355Z"
                         transform="matrix(1.33333 0 0 -1.33333 17.025 29.723)"
                         id="logo-top"
                         inkscape:label="logo-top"
                         style="fill:#8982b0;fill-opacity:1;fill-rule:nonzero;stroke:none;" />
                      <path
                         d="M0 0v32.441l27.449 13.098-1.179-31.305Z"
                         style="fill:#e8736c;fill-opacity:1;fill-rule:nonzero;stroke:none"
                         transform="matrix(1.33333 0 0 -1.33333 56.853 99.993)"
                         id="logo-right"
                         inkscape:label="logo-right" />
                      <path
                         d="m0 0 1.039-30.656 24.07-15.258-.043 32.285z"
                         style="fill:#435179;fill-opacity:1;fill-rule:nonzero;stroke:none"
                         transform="matrix(1.33333 0 0 -1.33333 13.645 38.353)"
                         id="logo-left"
                         inkscape:label="logo-left" />
                    </svg>                 -->
                </div>
                <div>Building your own data cube...</div>
            </div>
            <div class="print-template-result-section" style="display: none;max-height: 100%;overflow-y: auto;">
                <div class="flex-col-center" style="gap: 10px;text-align: center;height: 100%;">
                    <h1>Craft Your Data Cube!</h1>
                    <div>Print🖨️, fold📃, cut✂️ and glue🩹 to make your own crafted data cube. 🧊</div>
                    <div style="display: flex; flex-direction: row;gap: 10px;justify-content: center;">
                        <a class="download-print-template-result-svg" style="font-size: larger;">Download SVG</a>
                        <a class="download-print-template-result-png" style="font-size: larger;">Download PNG</a>
                        <a class="download-print-template-result-edit-note" style="font-size: larger;" href="#">Add custom note</a>
                    </div>
                    <div class="print-template-result"></div>
                    <button style="font-size: larger; margin: 10px" onclick="const d = this.parentNode.parentNode.parentNode.parentNode;d.style.display = 'none';">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const b = document.body;
        if (document.URL.indexOf("localhost") != -1) {
            b.getElementsByClassName("tutorial-wrapper")[0].style.display = "none";
        }
        try {
            const c = localStorage.getItem('dismiss-jupyter');
            const v = parseInt(c);
            const notificationInterval = 1000 * 60 * 60 * 24 * 2; // 2 days
            if (!isNaN(v) && Date.now() - v < notificationInterval) {
                b.getElementsByClassName("jupyter-notification")[0].style.display = "none";
            }
        } catch (e) {
        }
        var touchDevice = ('ontouchstart' in window) || (navigator.maxTouchPoints > 0);
        b.getElementsByClassName("tutorial-mouse")[0].style.display = touchDevice ? 'none' : 'block';
        b.getElementsByClassName("tutorial-touch")[0].style.display = touchDevice ? 'block' : 'none';
        var smaller = Math.min(window.innerWidth * 0.6, window.innerHeight * 0.6);
        b.getElementsByTagName("video")[0].width = smaller;
        b.getElementsByTagName("video")[0].height = smaller;
        b.getElementsByTagName("video")[1].width = smaller;
        b.getElementsByTagName("video")[1].height = smaller;
        window.lexcubeStandalone = true;
    </script>
</body>

</html>